/* Author : Midhun Roy 
Time : 12:05 pm*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.banner-img {
	background-image: url("../images/academy-banner.jpg");
	min-height: 100vh;
	background-size: cover;
}
.curly ::after {
	content: "}";
	color: #d24d3b;
}
.curly ::before {
	content: "{";
	color: #d24d3b;
}
.para {
	font-family: "Roboto", sans-serif;
}

.logo h2 {
	font-family: "Roboto", sans-serif;
	margin-top: 5%;
	color: #1e2531;
	font-size: 60px;
}
.aside-2 {
	background-color: #1e2531;
	margin-left: -10%;
	color: #6cc1ef;
	font-size: 35px;
	font-family: "Times New Roman", Times, serif;
}

.courses {
	background-image: url("../images/modulebg.jpg");
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding: 15% !important;
}

.courses p {
	width: fit-content;

	background-color: rgba(0, 0, 0, 0.7);
	/* width: 20%; */
}
.disc-1 {
	background-image: url("../images/testsbg.jpg");
	height: 500px;
	background-size: cover;
	font-size: 20px;
}
.disc-2 {
	background-image: url("../images/intrvwbg.jpg");
	height: 500px;
	background-size: cover;
	font-size: 20px;
}
.disc-1-sub {
	background-color: rgba(6, 8, 11, 0.7);
	color: #fff;
}
.disc-2-sub {
	background-color: rgba(6, 8, 11, 0.7);
	color: #fff;
}
.ques h2 {
	color: #181e22;
	font-size: 50px;
}
.JOIN {
	border: solid 2px #f26422;
	color: #f26422;
}
@media screen and (max-width: 576px) {
	.banner-img {
		background-image: none;
		background-color: #ededed;
		margin-left: 10%;
	}
	.banner-sub {
		display: none;
	}

	.aside-2 {
		margin: 0;
		padding: 0;
	}
	.col-8 {
		display: none;
	}

	.logo h2 {
		margin-left: 20%;
	}
	.col-5 {
		margin: 0;
	}
	.aside-1 img {
		margin-left: 0;
	}

	.courses p {
		padding: 5% !important;
	}
}
